# Virtual Environment
.venv

# Data
data

# Logs
wandb
.slogs

# Private keys
.openai_key
.wandb_key
.huggingface_key

# Visual Studio Code
.vscode

# Python specific
*.pyc
*.DS_Store

# Logs
.slogs
.log

# Scratch
scratch

.python-version

# Results directory, but keep dmkd_additions
results/*
!results/dmkd_additions/

# Hugging Face repository
FLDE/

# Cursor
.cursorignore
.cursorrules